* {
	margin : 0;
	padding : 0;
}

body {
	text-align : center;
	font : 1em Helvetica, sans-serif;
}

#page {
	margin : 2em auto;
	text-align : justify;
	width : 30em;
}

#top {
	width:100%;
	position: fixed;
	left: 0;
	top: 0;
	padding : 0.1em 1em;
	background: white;
	border-bottom: 1px solid #ccc;
	height:1.8em;
	overflow:hidden;
}

#top h1 {
	padding : 0.1em 1em;
	margin: 0;
	text-align : left;
	font-size:100%;
	position:absolute;
	left:0;
}

#top .btnPullDown {
	display:none;
	
	margin-left:10%;
	margin-right:10%;
	padding:0.1em 0.3em;
	
	background:white;
	color:black;
}

#top .btnPullDown:hover {
	background:black;
	color:white;
}

#top:hover .btnPullDown {
	display:inline;
}

#saveForm {
	display:inline;
}

#saveForm form {
	margin : 0 auto;
	display:inline;
}

#about {
	margin-top: 3em;
	clear: both;
	text-align : left;
}

#sidebar {
	width : 200px;
	position:fixed;
	top:100px;
	right:20px;
	float:right;
}

#account {
	position:absolute;
	right:1em;
}
