body {
 	background : white;
 	font-family : Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}

a {	
	color : #666; 
	text-decoration : underline;
}

a:hover {
	color : #999; 
	text-decoration : none;
}

h1, h2, form, fieldset, input, label {
	font-weight : normal;
}

article {
	font-family : Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
	font-size:120%;
}

header a {
	color:#444;
	text-decoration:none;
}

header a:hover {
	color:black;
}

header form input[type=text] {
  border: 1px solid #ccc;
  font-size: 100%;
  padding: 0.1em;
}

header form input[type=submit] {
	border: 1px solid #ccc;
	background : #ddd;
  font-size: 100%;
  padding: 0.1em;
}

#docList .title {
	font-size:2em;
	letter-spacing:0.2em;
}

#docList .subtitle {
	color:#ccc;
	font-style:italic;
	text-indent:2em;
}

nav li {
	list-style:none;
}

nav a {
	display:block;
	padding:0.1em 0.5em;
} 

nav a:hover {
	background:#888;
	color:white;
}

#about {
	color:#ccc;
	font-size:75%;
}